@font-face{
	font-family:ProximaNovaLight;
	font-weight:normal;
	src:url("../src/fontes/Proxima-Nova-Light.otf") format("opentype");
}

@font-face{
	font-family:ProximaNovaBold;
  font-weight:bold;
  src:url("../src/fontes/Proxima-Nova-Semibold.otf") format("opentype");
}

body {
  font-family: 'ProximaNovaLight','Montserrat', sans-serif;
  font-size: 16px;
  color: white;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

.btn-outline {
  margin-top: 3%;
  border-radius: 0px;
  background: transparent;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.7em !important;
  text-transform: uppercase !important;
  font-family: 'ProximaNovaLight','Montserrat', Helvetica, Arial, Lucida, sans-serif !important;
  padding: 0.3em 1em;
  margin-left: 2%;

}

.btn-white {
  border: 2px solid white;
  color: white;
}

.btn-white:hover {
  color: black;
  border: 2px solid white;
  background-color: white;
}


.btn-black {
  border: 2px solid black;
  color: black;
}

.btn-black:hover {
  color: white;
  border: 2px solid black;
  background-color: black;
}

.btn-red {
  border: 2px solid red;
  color: red;
}

.btn-red:hover {
  color: white;
  border: 2px solid red;
  background-color: red;
}