.about {
    margin-top: 5%;
    margin-bottom: 5%;
    color: black!important;
    font-size: 0.8em!important;
}

.glyphicon {
    top: 10px;
}

.nome {
    font-weight: bold;
}

.me {
    color: gray;
    margin-top: 5%;
}



