#contact {
    padding-top: 1%;
    color: white;
}


#contact {
    position: relative;
    background: none;


}

#contact:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;



    /* Background */
    background-image: url('../img/rock.jpg');
  
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}

.social-icon{
    font-size: 2em;
    margin-right: 2%;
    cursor: pointer;
    color: white;
}