#details {
    color: black;
}

.detailsTitle {
    text-align: center;
    text-transform: uppercase;  
}

.github-text {
    text-align: center;
}

.github{
    width: 20%;
    position: relative;
    left: 40%;
}

.detailsSub {
    margin-left: 8%;
}
.icon {
    top: 45px;
}

@media (max-width: 768px) {
    .github{
        width: 60%;
        position: relative;
        left: 20%;
    }
}