.nav {
    margin-bottom: 0;
    position: fixed;
    z-index: 10;
    background: transparent;
    width: 100%;
    border-radius: 0 !important;
    background-color: transparent;
    border-color: transparent;
    transition: 0.5s linear;
}

.titulo {
    margin-bottom: 0;
    margin-top: 0;
    color: white !important;
    font-weight: bold;
}

.nav-menu {
    color: white !important;
}


.nav-menu:hover {
    text-decoration: none;
}

.nav-fundo {
    background-color: black!important;
}

.navbar-collapse {
    border-color: transparent!important;
    background-color: transparent;
}

 .navbar-toggle {
    border-color: transparent!important;
    background-color: transparent!important;
}