#portfolio {
    color: black;
    text-align: center;
}

.img-portfolio {
    opacity: 1;
    display: block;
    height: 200px;
    width: 250px;
    transition: .5s ease;
    backface-visibility: hidden;
    filter: grayscale(100%) contrast(100%)  brightness(40%);

}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.text {
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    cursor: pointer;
}

.port-item {
    margin-top: 15%;
    width: 250px;
    margin-left: 14%!important;
}

.port-item:hover .img-portfolio {
    opacity: 0.3;
}

.port-item:hover .middle {
    opacity: 1;
}

.modal-text {
    color: black!important;
}