.skills {
    text-align: center;
}


.skillsContainer {
    position: relative;
    background: none;


}

.skillsContainer:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;


    filter: grayscale(100%) contrast(100%)  brightness(40%);

    /* Background */
    background-image: url('../img/header.jpg');
  
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}